h1.leader-Board {
    text-decoration-style: dashed;
    text-align: center;
    text-decoration-color: rgba(7, 138, 224, 0.795);
  }
  body {
    background-image: linear-gradient(rgb(231, 1, 1), rgba(38, 0, 255, 0.986));
    font-family: "Times New Roman", Times, serif;
  }
  .App {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }
  .right {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
  .left {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
  }
  .Student {
    margin: 0 auto;
    display: block;
    width: 700px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .score {
    font-size: 30px;
    font-weight: bold;
    color: green;
  }
  